<h1><strong>WELCOME TO YOUR RECIPES WEBSITE</strong></h1>
<h4>Discover and explore a world of delicious recipes tailored to your taste, from quick weeknight dinners to gourmet feasts for special occasions.</h4>
<%= link_to "START YOUR SEARCH", recipes_path, class: "home-page-button" %>
